In [2]:
import pandas as pd 
import numpy as np

CREATE DATAFRAME

In [21]:
demands_columns = ['year', 'Anticipated total qty']
year = [2019,2020,2021,2022,2023,2024,2025]
qty = [740000,1300000,1640000,1940000,2140000,2140000,2140000]
data_1 = [year,qty]

In [22]:
df = pd.DataFrame(data=data_1)
df.head()

        0        1        2        3        4        5        6
0    2019     2020     2021     2022     2023     2024     2025
1  740000  1300000  1640000  1940000  2140000  2140000  2140000

In [23]:
df = df.transpose()
df = df.rename(columns={0:'year', 1:'Anticipated total qty'})

In [24]:
df.head()

   year  Anticipated total qty
0  2019                 740000
1  2020                1300000
2  2021                1640000
3  2022                1940000
4  2023                2140000

In [26]:
df['new demands'] = [740000,1300000,1640000,1800000,1500000,1400000,1400000]

In [28]:
df['demands variation'] = df['Anticipated total qty'] - df['new demands']
df

   year  Anticipated total qty  new demands  demands variation
0  2019                 740000       740000                  0
1  2020                1300000      1300000                  0
2  2021                1640000      1640000                  0
3  2022                1940000      1800000             140000
4  2023                2140000      1500000             640000
5  2024                2140000      1400000             740000
6  2025                2140000      1400000             740000

In [31]:
df['% variation'] = (df['demands variation']*100)/df['Anticipated total qty']
df['% variation'] = df['% variation'].round(2)

In [32]:
df

   year  Anticipated total qty  new demands  demands variation  % variation
0  2019                 740000       740000                  0         0.00
1  2020                1300000      1300000                  0         0.00
2  2021                1640000      1640000                  0         0.00
3  2022                1940000      1800000             140000         7.22
4  2023                2140000      1500000             640000        29.91
5  2024                2140000      1400000             740000        34.58
6  2025                2140000      1400000             740000        34.58